<nav id="header-container">
        <h1>Resto Robs</h1>
        <ul class="header-menu">
            <li>Home</li>
            <li>Shop</li>
            <li>About</li>
            <li>Contact</li>
        </ul>
    </nav>

<style>
    nav {
        padding: 10px;
        background: #545454;
        text-align: center;
    }
    h1 {
        display: inline;
    }
    ul {
        display: inline;
    }
    ul li{
        list-style-type: none;
        display: inline;
        padding: 50px;
        font-family: Racing Sans One;
        color: white;
    }
</style>

{% comment %} {% schema %}
    {
        "name": "Header",
        "tag": "section",
        "class": "header-menu",
        "settings": [

        ]
    }
{% endschema %} {% endcomment %}