<h3>{{ section.settings.heading }}</h3>

{% schema %}
{
    "name": "Icons with Text",
    "settings": [
                    {
                        "type": "text",
                        "label": "Your headline for the section",
                        "id": "heading"
                    }
                ]
}
{% endschema %}